node_modules/
.env
.env.local
.env.production
.DS_Store
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*



MONGODB_URI=mongodb+srv://avipawardev:M7ObGYtbIsrWEDA3@loanapp.y6yuqcj.mongodb.net/?retryWrites=true&w=majority&appName=LoanApp
JWT_SECRET=myjwtsecret
NODE_ENV=production
EMAIL_USER=avipawar.dev@gmail.com
EMAIL_PASS=lyrrrlqzrpyxqkwd
CLIENT_URL=https://your-frontend-domain.vercel.app
